*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head{
    width: 100%;
    height: 70px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px;
}
.head div img{
    cursor: pointer;
}
#cls4 a{
    text-decoration: none;
    color: black;
}